/* Theme */

body{
	
	background-image: url(https://wallpapercave.com/wp/wp5264645.jpg) ;
	background-position: center ;
	background-repeat: no-repeat ; 
	
	color: #ffffff; 
	text-shadow: 10px 5px 5px black;
}

.icons-social a {
	color: #ffffff;
}

.icons-social a svg path{
	fill: #ffffff;
}